<ion-view>
		<div class="bar bar-header base-header-bar row">
			<button class="col col-25 button button-icon icon ion-ios-pause pause-btn"></button>
			<div class="col col-50 time-down">
				<span class="time-down-num">60</span>
				<span class="time-unit">s</span>
			</div>
			<span class="col col-25 score">0</span>
		</div>
	<ion-content class="base-cell-warp" scroll="false">
			<ul class="row base-cell-gruop">
				<li class="col col-25 base-cell-item">1</li>
				<li class="col col-25 base-cell-item">1</li>
				<li class="col col-25 base-cell-item">1</li>
				<li class="col col-25 base-cell-item">1</li>
				<li class="col col-25 base-cell-item">1</li>
				<li class="col col-25 base-cell-item">1</li>
				<li class="col col-25 base-cell-item">1</li>
				<li class="col col-25 base-cell-item">1</li>
				<li class="col col-25 base-cell-item">1</li>
				<li class="col col-25 base-cell-item">1</li>
				<li class="col col-25 base-cell-item">1</li>
				<li class="col col-25 base-cell-item">1</li>
				<li class="col col-25 base-cell-item has-bottom-border">1</li>
				<li class="col col-25 base-cell-item has-bottom-border">1</li>
				<li class="col col-25 base-cell-item has-bottom-border">1</li>
				<li class="col col-25 base-cell-item has-bottom-border">1</li>
			</ul>
	</ion-content>
</ion-view>