<ion-view ng-controller="fmin.baseController" class="base-wrap">
		<div class="bar bar-header base-header-bar row">
			<button class="col col-25 button button-icon icon ion-ios-pause pause-btn " ng-click="pause()"></button>
			<div class="col col-50 time-down">
				<span class="time-down-num">10</span>
				<span class="time-down-dot">.</span>
				<span class="time-down-ms-num">00</span>
				<!-- <span class="time-unit">00</span> -->
			</div>
			<span class="col col-25 score">0</span>
		</div>
	<ion-content class="base-cell-warp" scroll="false">
			<ul class="row base-cell-group">
				<li class="col col-25 base-cell-item">1</li>
				<li class="col col-25 base-cell-item">1</li>
				<li class="col col-25 base-cell-item">1</li>
				<li class="col col-25 base-cell-item">1</li>
				<li class="col col-25 base-cell-item">1</li>
				<li class="col col-25 base-cell-item">1</li>
				<li class="col col-25 base-cell-item">1</li>
				<li class="col col-25 base-cell-item">1</li>
				<li class="col col-25 base-cell-item">1</li>
				<li class="col col-25 base-cell-item">1</li>
				<li class="col col-25 base-cell-item">1</li>
				<li class="col col-25 base-cell-item">1</li>
				<li class="col col-25 base-cell-item has-bottom-border">1</li>
				<li class="col col-25 base-cell-item has-bottom-border">1</li>
				<li class="col col-25 base-cell-item has-bottom-border">1</li>
				<li class="col col-25 base-cell-item has-bottom-border">1</li>
			</ul>
	</ion-content>
</ion-view>