<ion-view  class="chs-wrap" ng-controller="fmin.chsController">
		<div class="bar bar-header chs-header-bar row">
			<!-- <button class="col col-25 button button-icon icon ion-ios-pause pause-btn " ng-click="pause()"></button> -->
			<div class="col col-50 time-down">
				<span class="time-down-num">9</span>
				<span class="time-down-dot">.</span>
				<span class="time-down-ms-num">00</span>
				<!-- <span class="time-unit">00</span> -->
			</div>
			<span class="col col-50 score"><span class="">0</span></span>
		</div>
	<ion-content class="chs-cell-warp" scroll="false">
			<ul class="row chs-cell-group">
				<li class="col col-20 chs-cell-item"></li>
				<li class="col col-20 chs-cell-item"></li>
				<li class="col col-20 chs-cell-item"></li>
				<li class="col col-20 chs-cell-item"></li>
				<li class="col col-20 chs-cell-item"></li>
				<li class="col col-20 chs-cell-item"></li>
				<li class="col col-20 chs-cell-item"></li>
				<li class="col col-20 chs-cell-item"></li>
				<li class="col col-20 chs-cell-item"></li>
				<li class="col col-20 chs-cell-item"></li>
				<li class="col col-20 chs-cell-item"></li>
				<li class="col col-20 chs-cell-item"></li>
				<li class="col col-20 chs-cell-item"></li>
				<li class="col col-20 chs-cell-item"></li>
				<li class="col col-20 chs-cell-item"></li>
				<li class="col col-20 chs-cell-item"></li>
				<li class="col col-20 chs-cell-item"></li>
				<li class="col col-20 chs-cell-item"></li>
				<li class="col col-20 chs-cell-item"></li>
				<li class="col col-20 chs-cell-item"></li>
				<li class="col col-20 chs-cell-item has-bottom-border"></li>
				<li class="col col-20 chs-cell-item has-bottom-border"></li>
				<li class="col col-20 chs-cell-item has-bottom-border"></li>
				<li class="col col-20 chs-cell-item has-bottom-border"></li>
				<li class="col col-20 chs-cell-item has-bottom-border"></li>
			</ul>
	</ion-content>
</ion-view>