<ion-view ng-controller="fmin.homeController">
	<ion-pane class="menu-wrapper">
		<div class="row header cell-wrapper">
			<div class="col col-50 cell-item">
				<a ng-href="#/base">经典模式</a>
			</div>
			<div class="col col-50 cell-item">
				<a ng-href="#/chs">穿梭模式</a>
			</div>
			<div class="col col-50 cell-item">
				<a ng-href="#/speed">急速模式</a>
			</div>
			<div class="col col-50 cell-item">
				<a >打榜</a>
			</div>
		</div>
		<div class="username" ng-click="writeName()">{{username}}</div>
	</ion-pane>
</ion-view> 