@import "cell.less";

@bg-color: #332A49;
// @grid-border-color: #A1A31E;
@grid-border-color: #f1dc97;
@score-bg-color: #468EC9;
@chs-bg-color: #E7E0B2;
@chs-grid-border-color: #BEB083;

  .chs-wrap, .chs-cell-warp, .chs-header-bar {
    // background: @chs-bg-color !important;
    color: #8F7F4D !important;
  }


.chs-wrap  {
  // background: @chs-bg-color !important;
  background-image: url(http://img.zcool.cn/community/033c04f554c74ec00000158fc958579.jpg@600w_1l_2o);
  background-size: cover;
  color: #8F7F4D !important;
  .bar-header 
  .time-down {
    font-size: 0;
    text-align: left;
  }
  .time-down-num, .time-unit, .time-down-ms-num {
    // text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #9B8C5B;
  }
  .time-down-dot {
    color: #9B8C5B;
  }


  .chs-cell-warp{
    top: 7%;
    height: 90%;
    margin-top: 5%;
    // background-color: @bg-color;
    .cell-data {
      font-size: 100%;
      // border-radius: 5px;
      /* font-weight: 600; */
      background: #F5FFC0;
      width: 100%;
      height: 100%;
      text-align: center;
      align-items: center;
      vertical-align: middle;
      justify-content: center;
      display: flex;
      background: #FF5B00;
      opacity: .5;
    }
    .has-bottom-border {
      border-bottom: none;
    }
    // border: 1px solid blue;
  }
  .chs-cell-group {
    height: 100%;
    flex-flow: row wrap;
    padding: 0;
  }
  .chs-cell-item {
    display: flex;
    height: 25%;
    justify-content: center;
    align-items: center;
    // border: 1px solid @grid-border-color;
    border-bottom: none;
  }
  .has-bottom-border {
    border-bottom: 1px solid #f1dc97;
  }
  .chs-cell-item {
    height: 20%;
    border-left: none;
    font-size: 2em;
    padding: 0;
    border-color: @chs-grid-border-color;
  }
  .chs-cell-warp {
    height: 80%;
  }


  .ball {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid red;
    position: absolute;
    top: 0;
    z-index: 9999;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    font-weight: bold;
  }
}
