@bg-color: #8DC86C;
@grid-border-color: #A1A31E;
@score-bg-color: #468EC9;
//fixed default .row 
.cell-wrapper {
  height: 100%;
  padding: 0;
	flex-flow: column wrap;
  // border: 1px solid red;
}

.cell-item {
	text-align: center;
  border: 1px solid #EEE;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
    // flex-direction:column;
    // flex: 1;
  	// height: 30%;
}
.cell-item:nth-child(1) {
  background: gray;
}
.cell-item:nth-child(4) {
  background: red;
}
.cell-item a {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

//base.less 
.base-wrap {
  background: @bg-color;
}
.base-header-bar {
  height: 7%;
  border: none;
  border: 0px !important;
  border-bottom-color: transparent !important;
  background-image: none !important;
  border-bottom: none !important;
  background-color: @bg-color;
}
.pause-btn {
  text-align: left;
  border: none;
}
.bar-header {
  // border: 1px solid red;
}
.time-down {
  font-size: 0;
  text-align: center;
}
.time-down-num, .time-unit, .time-down-ms-num {
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  // color: #D0D102;
  color: #FECA52;
}
.time-down-ms-num {
  display: inline-block;
  width: 2.3rem;
  text-align: left;
}
.time-unit {
  font-size: 34px;
}
.time-down-dot {
  color: #000;
  font-size: 23px;
  // font-weight: 600;
}
.score {
  font-size: 30px;
  text-align: right;
}

.base-cell-warp {
  top: 7%;
  height: 90%;
  margin-top: 5%;
  background-color: @bg-color;
  // border: 1px solid blue;
}
.base-cell-gruop {
  height: 100%;
  flex-flow: row wrap;
  padding: 0;
}
.base-cell-item {
  display: flex;
  height: 25%;
  justify-content: center;
  align-items: center;
  border: 1px solid @grid-border-color;
  border-bottom: none;
}
.base-cell-item:nth-child(4n-2) {
  border-left: 0;
  border-right: 0;
}
.base-cell-item:nth-child(4n-1) {
  border-right: 0;
}
.has-bottom-border {
  border-bottom: 1px solid @grid-border-color;
}
.base-cell-item span {
  color: #E0E0F8;
  font-size: 40px;
  // font-weight: 600;
}

//max score page
.ret-warp-content {
  flex-flow: row wrap;
  .row {
    padding: 0;
  }
}
.ret-header {
  display: flex;
  height: 40%;
  background: blue;
}
.ret-content {
  display: flex;
  height: 30%;
  margin: 0 !important;  //fixed ionic default
  background: green;
}
.ret-footer {
  display: flex;
  height: 30%;
  margin: 0 !important;
  background: gray;
}

.ret-share, .ret-back {
  display: flex;
  font-size: 40px;
  justify-content: center;
  align-items: center;
  color: #FFF; 
}
.ret-share {
  background-color: red;
}