a {
  text-decoration: none;
}
.cell-wrapper {
  height: 100%;
  padding: 0;
  flex-flow: column wrap;
}
.cell-item {
  text-align: center;
  border: 1px solid #EEE;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cell-item a {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: #FAEBD7;
}
.chs-wrap {
  background-size: cover;
}
.chs-wrap .bar-header .time-down {
  font-size: 0;
  text-align: left;
  justify-content: flex-start !important;
}
.chs-wrap .time-down-num,
.chs-wrap .time-unit,
.chs-wrap .time-down-ms-num {
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: #9B8C5B;
}
.chs-wrap .time-down-dot {
  color: #9B8C5B;
}
.chs-wrap .chs-cell-warp {
  top: 7%;
  height: 90%;
  margin-top: 5%;
  background-color: #f1f0f0;
}
.chs-wrap .chs-cell-warp .cell-data {
  font-size: 100%;
  /* font-weight: 600; */
  width: 100%;
  height: 100%;
  text-align: center;
  align-items: center;
  vertical-align: middle;
  justify-content: center;
  display: flex;
  opacity: .5;
  font-size: 1em;
}
.chs-wrap .chs-cell-warp .has-bottom-border {
  border-bottom: none;
}
.chs-wrap .chs-cell-group {
  height: 100%;
  flex-flow: row wrap;
  padding: 0;
}
.chs-wrap .chs-cell-item {
  display: flex;
  height: 25%;
  justify-content: center;
  align-items: center;
  border: 2px solid #d5d3d3;
  border-bottom: none;
}
.chs-wrap .has-bottom-border {
  border-bottom: 1px solid #f1dc97;
}
.chs-wrap .chs-cell-item {
  height: 20%;
  border-left: none;
  font-size: 1.5em;
  padding: 0;
}
.chs-wrap .chs-cell-warp {
  height: 80%;
}
.chs-wrap .ball {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid red;
  position: absolute;
  top: 0;
  z-index: 9999;
  text-align: center;
  line-height: 50px;
  font-size: 18px;
  font-weight: bold;
}
.speed-wrap {
  background: #332A49;
}
.speed-wrap .bar-header .time-down {
  font-size: 0;
  text-align: left;
}
.speed-wrap .time-down-num,
.speed-wrap .time-unit,
.speed-wrap .time-down-ms-num {
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: #9B8C5B;
}
.speed-wrap .time-down-dot {
  color: #9B8C5B;
}
.speed-wrap .com-cell-warp {
  top: 20%;
  height: 90%;
  background-color: #332A49;
  box-sizing: content-box;
}
.speed-wrap .com-cell-group {
  height: 100%;
  flex-flow: row wrap;
  padding: 0;
}
.speed-wrap .com-cell-item {
  display: flex;
  height: 25%;
  justify-content: center;
  align-items: center;
  border: 1px solid #d5d3d3;
  border-bottom: none;
}
.speed-wrap .com-cell-item {
  height: 20%;
  border-left: none;
  font-size: 2em;
  border-color: #BEB083;
}
.speed-wrap .com-cell-warp {
  height: 80%;
}
.speed-wrap .chs-wrap,
.speed-wrap .com-cell-warp,
.speed-wrap .chs-header-bar {
  background: #E7E0B2;
  color: #8F7F4D;
}
.speed-wrap .right {
  background: red;
}
.speed-wrap .ball {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid red;
  position: absolute;
  top: 0;
  z-index: 9999;
  text-align: center;
  line-height: 50px;
  font-size: 18px;
  font-weight: bold;
}
.menu-wrapper {
  background-image: url(../img/b1.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.menu-wrapper .cell-item {
  border-top: none;
  border-left: none;
}
.menu-wrapper .cell-item:nth-child(even) {
  border-bottom: none;
}
.menu-wrapper .cell-item a {
  color: #efecc1;
}
.base-help .popup {
  width: 290px;
}
.base-help .main {
  padding-left: 20px;
  padding-right: 20px;
}
.base-help .main-text {
  margin-top: 15px;
  margin-bottom: 30px;
  color: #244555;
  line-height: 1.3;
  font-size: 18px;
}
.base-help .main-text span {
  font-size: 16px;
  color: #000;
}
.base-help .text-easy {
  margin-top: 10px;
  margin-bottom: 5px;
}
.base-help .btn-wrap {
  width: 100%;
  text-align: center;
}
.base-help .know {
  margin: 0 auto;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  color: #F1F6FB;
  background: #244555;
  box-shadow: 0px 2px 7px grey;
}
.base-help .notes {
  margin-top: 15px;
  color: #FF3636;
}
.base-wrap {
  background: #332A49;
}
.base-header-bar,
.chs-header-bar {
  height: 7%;
  border: none;
  border: 0px !important;
  border-bottom-color: transparent !important;
  background-image: none !important;
  border-bottom: none !important;
  background-color: #332A49;
  background-color: #fbfbfb;
}
.base-header-bar {
  height: 10%;
}
.pause-btn {
  text-align: left;
  border: none;
  color: #606060;
}
.bar-header .time-down {
  font-size: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.time-down-num,
.time-unit,
.time-down-ms-num {
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: #606060;
}
.time-down-ms-num {
  display: inline-block;
  width: 2.3rem;
  text-align: left;
}
.time-unit {
  font-size: 34px;
}
.time-down-dot {
  font-size: 23px;
  color: #606060;
  font-weight: 600;
  border-radius: 50%;
}
.score {
  font-size: 30px;
  text-align: right;
  display: inline-block;
  /* border: 1px solid #fff; */
  /* vertical-align: middle; */
  justify-content: flex-end;
  align-items: center;
  display: flex;
  color: #606060;
  font-weight: 600;
}
.base-cell-warp {
  top: 10%;
  height: 90%;
  background-color: #f1f0f0;
  margin: 0;
  padding: 0;
}
.base-cell-group {
  height: 100%;
  flex-flow: row wrap;
  padding: 0;
}
.base-cell-item {
  display: flex;
  height: 25%;
  justify-content: center;
  align-items: center;
  border: 2px solid #d5d3d3;
  border-bottom: none;
}
.base-cell-item:nth-child(4n-2) {
  border-left: 0;
  border-right: 0;
}
.base-cell-item:nth-child(4n-1) {
  border-right: 0;
}
.base-cell-item:nth-child(4n) {
  border-right: 0;
}
.base-cell-item:nth-child(4n+1) {
  border-left: 0;
}
.has-bottom-border {
  border-bottom: 1px solid #d5d3d3;
}
.base-cell-item span,
.chs-cell-item span {
  color: #5f5d5d;
  font-size: 2em;
  font-weight: 600;
}
.pasue-popup .popup {
  border-radius: 10px;
}
.pasue-popup .popup .row button {
  background-color: #8A98BA;
  border-color: #8A98BA;
  border-radius: 3px;
}
.click-right-ani {
  animation-duration: 300ms;
  -webkit-animation-duration: 300ms;
  animation-name: slidein;
  -webkit-animation-name: slidein;
}
@keyframes slidein {
  from {
    box-shadow: 5px 0 5px #999 inset, 0 5px 5px #999 inset, -5px -5px 0px #ccc inset, -5px 0 5px #ccc inset;
  }
  to {
    box-shadow: none;
  }
}
@-webkit-keyframes slidein {
  from {
    box-shadow: 5px 0 5px #999 inset, 0 5px 5px #999 inset, -5px -5px 0px #ccc inset, -5px 0 5px #ccc inset;
  }
  to {
    box-shadow: none;
  }
}
.ret-warp-content {
  flex-flow: row wrap;
  background: #717877;
}
.ret-warp-content .row {
  padding: 0;
}
.ret-header {
  display: flex;
  height: 30%;
  text-align: center;
  -webkit-align-items: center;
  /* Safari */
  align-items: center;
}
.ret-avatar {
  width: 100%;
}
.ret-avatar img {
  width: 30%;
}
.ret-content {
  display: flex;
  height: 30%;
  flex-wrap: wrap;
  margin: 0 !important;
}
.ret-content .curr-score {
  width: 100%;
  text-align: center;
}
.ret-content .curr-score span {
  font-size: 100px;
  color: #C4BCAB;
  line-height: 1;
}
.ret-content .max-score {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: #47433f;
}
.ret-content .ret-motto {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
  color: #C4BCAB;
}
.ret-footer {
  display: flex;
  flex-wrap: wrap;
  height: 30%;
  justify-content: center;
  align-items: center;
}
.ret-footer .ret-restart,
.ret-footer .go-back {
  max-height: 40%;
  border: 1px solid rebeccapurple;
  width: 70%;
  text-align: center;
  background-color: #9f9070;
  border-radius: 45px;
}
.ret-footer .ret-restart img,
.ret-footer .go-back img {
  width: 17%;
  min-width: 15%;
  max-width: 20%;
}
